<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= link_to root_url do %>
      <%= image_tag "emails/launch.jpeg" %>
    <% end %>
  </body>
</html>
