<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p style='text-align:center;'>
      See Attached doc.
    </p>
    <p style='text-align:center;text-transform:uppercase;'>
      <br/>
      Copyright &#169; <%= Time.zone.now.year %> <%= I18n.t(:company) %>.
    </p>
  </body>
</html>
