<div class="twelve column">
  <div class="row promotion">
    <div class="six columns">
      <%= image_tag 'preorder/PreOrder_package.png'%>
    </div>
    <div class="six columns">
      <h2>The Preorder Product!</h2>
      <ul class="square">
        <li>Our great Product</li>
        <li>Buy it now</li>
      </ul>
      <%= link_to 'PRE-ORDER NOW', preorders_path, :class => 'button seven columns centered', :method => 'post' %>
    </div>
  </div>
</div>
