<div class="row">
  <div class='nine columns'>
    <h3> Edit Address </h3>
    <%= form_for(@form_address, :url => myaccount_address_path(@form_address), :html => {:class => 'edit_address custom'}) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </div>
</div>
