blockquote.total, blockquote.finished-order-item {
  margin: 0 0 20px;
  padding: 10px 20px;
  border-left: 5px solid #cc0000;
  background: #f8f8f8;
}

.button.success.large.cart-submit-button {
  font-size: 22px;
  letter-spacing: -1px;
}
