@import "compass/css3";
@import "site/app_mixins";

#password_reset_form_wrapper {
  position:relative;
  width:840px;
  top:110px;
  left:120px;

  div#input-fields {
    min-height:232.375px;
    font-family: MyriadPro, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight:14px;
    text-transform:uppercase;
    h2, .white-text {color:#FFF;line-height: 22px;}
    h2 {
      margin-top: 44px;
      font-size:22px;
      font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
    }
    #congrats_user {font-size:20px;line-height: 32px;margin-top:35px;}
  }

  div#rore-logo {
    height:100%
  }
  #background-transparent {
    background-color:#333;
    height:245px;
    width:490px;
    float: left;
    @include opacity(0.5);
  }
  #background-non-transparent {
    position: absolute;
    // padding-top: 35px;
    padding-left:30px;
  }
  select {
    width:14em;
    &.error{background-color:#ebb;}
  }

  img {
    @include opacity(0.9);
  }
  .button.small {
    font-size: 13px;
    padding: 9px 10px 6px;
  }
  input[type="email"], input[type="text"]{
    height: 26px;
    padding-top: 10px;
    font-size:10px;
    background-color:#bbb;
    @include placeholder(#666);
    &.error{background-color:#ebb;}
  }
  input[type="submit"] {
    text-transform:uppercase;
    font-weight:bold;
  }
  .nofity-button-wrapper {
    padding-left: 10px;
  }
  ul {
    list-style:none;
    li {display:inline-block;}
  }
  .styled-select {
    @include border-radius(2px, 2px);
    height: 26px;
    overflow: hidden;
    background: image-url('down_arrow_select.jpg') no-repeat right #bbb;
    border: 1px solid #ccc;

    .error{background: image-url('down_arrow_select.jpg') no-repeat right #ebb;overflow: hidden; border:#c60f13;}
    select {
      background: transparent;
      width: 268px;
      padding: 5px;
      font-size: 10px;
      line-height: 1;
      border: 0;
      border-radius: 0;
      height: 26px;
      -webkit-appearance: none;
    }
  }
}
