
<h2>SHIPPING POLICY</h2>

<div class="contact-details">
  <ul class="type1">
    <li>&nbsp;Signature may be required for delivery</li>
    <li>&nbsp;We do not ship to P.O. boxes</li>
    <li>&nbsp;Delivery estimates below include item preparation and shipping time</li>
    <li>&nbsp;We do not ship directly to APO/FPO addresses.</li>
  </ul>
  <h5>
    <%= link_to 'Learn More', '#shipping_policy_path' %>
  </h5>
</div>

