<% if display_shipping_warning? %>
  <div id="shipping-warning">
    <div class="row">
      <div class="top-bar" style="border-bottom: 3px solid #cc0000;">
        <h3 class="white bold padding-10">PRE-ORDERS WILL NOT SHIP TIL MID-MAY</h3>
      </div>
    </div>
  </div>
<% end %>
